.logo{
     height: 200px;
}
.img{
    position: relative;
    align-content: center;
    height: 190px;
    width: 170px;
}
.pets{
    height: 350px;
    background-image: url("images/jj.jpeg");
}
.color{
    background-color: rgb(255, 253, 253);
}