.logo{
     height: 200px;
}
.img{
    position: relative;
    align-content: center;
    height: 190px;
    width: 170px;
}
.pets{
    height: 300px;
   
}
.synopsis{

    background-image: url("images/non.jpeg");
    background-repeat: no-repeat;
}